{% extends "Padre.html" %}

{% load static %}

{% block encabezado %} CREAR NOTICIA {% endblock %}
{% block mensaje %}<h3>{{ mensaje }}</h3> {% endblock %}

{% block cambiable %}

<form action="{% url 'crear_noticias' %}" method="post"> {% csrf_token %}
    <table>
    {{ formulario.as_table }} 
    </table>

    <input class="btn btn-info" type="submit" value="Crear Noticia">
</form>


{% endblock %}

{% block btn-noticias %} 
    btn btn-primary
{% endblock %}

{% block btn-Cnoticias %} 
    btn btn-success
{% endblock %}

{% block btn-login %} 
    btn btn-primary
{% endblock %}

{% block btn-register %} 
    btn btn-primary 
{% endblock %}

{% block btn-Edicion %} 
    btn btn-primary 
{% endblock %}