{% extends "Padre.html" %}

{% load static %}

{% block titulo %}EDITAR PERFIL DE {{ nombreusuario }} {% endblock %}

{% block contenido_que_cambia %}
<h3>{{ mensaje }}</h3>

<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %}

    <table>
    
        {{ form.as_table }}
    
    </table>
    
    <input type="submit" value="Guardar">
    
    
</form>


{% endblock %}



{% block btn-noticias %} 
    btn btn-primary
{% endblock %}

{% block btn-Cnoticias %} 
    btn btn-primary
{% endblock %}

{% block btn-login %} 
    btn btn-primary
{% endblock %}

{% block btn-register %} 
    btn btn-primary 
{% endblock %}

{% block btn-Edicion %} 
    btn btn-success 
{% endblock %}

