{% extends "Padre.html" %}

{% load static %}

{% block encabezado %} register  {% endblock %}

{% block cambiable %}
<h3>{{ mensaje }}</h3>

<form action="{% url 'register' %}" method="POST"> {% csrf_token %}

    <table>

        {{ form.as_table }}
    
    </table>

    <input class="btn btn-info" type="submit" value="REGISTRAR USUARIO">




</form>
{% endblock %}


{% block btn-noticias %} 
    btn btn-primary
{% endblock %}

{% block btn-Cnoticias %} 
    btn btn-primary
{% endblock %}

{% block btn-login %} 
    btn btn-primary
{% endblock %}

{% block btn-register %} 
    btn btn-success
{% endblock %}

{% block btn-Edicion %} 
    btn btn-primary
{% endblock %}
